---
---
<!DOCTYPE html>
<head>
	<title>progrt.github.io</title>

	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width initial-scale=1 user scalable=no"/>

	<link rel="stylesheet" href="progrt.css"/>

</head>
<body>

	<h1>progrt.github.io</h1>

	<h2> Projets </h2>

	<div id=projects >
		{% for post in site.posts %}
		<article>
			<a href='{{post.Homepage}}' title='{{ post.Title }}'>
				<img src='img/{{ post.Image }}'/>
			</a>
		</article>
		{% endfor %}
	</div>

	<h2> Présentations </h2>

	<div id=presentations >
		{% for pres in site.presentations %}
		<div>
			<a href='{{pres.presurl}}' title='{{ pres.title }}'>
				{{pres.date|date: '%Y-%m-%d'}} - {{ pres.title }}
			</a>
		</div>
		{% endfor %}
	</div>
</body>
