$bgDark: mix(black, gray, 65%)
$bgClear: mix(black, gray, 40%)


html
	color: white
	background: linear-gradient(to top, $bgDark, $bgClear)
	background-attachment: fixed
	height: 100%
	letter-spacing: 1px
	font-family: 'TrabajoRegular' 

#container
	//transform: translateY(50%)
	margin-top: 6%
	margin-left: auto
	margin-right: auto
	display: table
	height: 100%

	div
		display: table-cell
		vertical-align: middle

ul.menu
	list-style-type: none
	height: 100%
	margin-left: 0px
	transform: translateX(-41px)
	font-size: 180%

ul.menu ul

	font-size: 60%
	margin-left: 20px
	margin-top: 20px
	margin-bottom: 20px
	list-style-type: none
	color: rgb(210, 210, 210)

ul.menu ul>li:before

	content: "-"
	margin-right: 20px

ul.menu>li:before

	content: "-"
	margin-right: 20px


svg
	display: inline


text
	text-align: center
	fill: rgb(230, 230, 230)
	letter-spacing: 0.5em


#ruban
	border-right: 2px solid white
	font-size: 30pt
	font-weight: bold


a
	text-decoration: none
	color: inherit

